.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  padding: 30px 56px;
}

.logo-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer a{
  color: #101010;
  font-weight: 600;
}